/vendor/
/templates_c/*
!/templates_c/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
.env
.env.local
.DS_Store
.idea/
/[0-9]*.png
.phpunit.cache/
.phpunit.result.cache
.vscode/
composer.lock
*.log
node_modules/
/public/css/*.map